[submodule ".vim/bundle/vim-command-w"]
	path = .vim/bundle/vim-command-w
	url = git://github.com/nathanaelkane/vim-command-w.git
[submodule ".vim/bundle/vim-bufkill"]
	path = .vim/bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
