
################
# Common stuff #
################
snippet file "Link to file"
[[file://${1:${VISUAL:path to file}}|${2:Text}]]$0
endsnippet

snippet research "New Research entry"
[[Research/${1:project name}|${2:Project Name}]]$0
endsnippet
